body {
    font-family: sans-serif;
}
header{background-color:lightblue ;
color:purple

}
h1 {color:purple}
footer{
background-color: green;

}
footer p{

    background-color: white;
}
nav  a{color:grey ;


}
